

body {
    margin: auto;
    padding: 0 3em;
}

body > section > h1 {
    font-size: 2em;
}

body > section > ol > li > p {
    font-size: 1.5em;
}

body > section > ol > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25em;
    border: solid;
    border-radius: 1em;
    margin-bottom: 0.5em;
    padding-left: 1em;
}

body > section > ol > li > img {
    width: 3em;
    height: 3em;
    margin-left: 1em;
    margin-left: auto;
    margin-right: 1em;
}

[draggable] {
    user-select: none;
}